# -*- perl -*-

# Install configuration for Tktimex

# The title of the program. If not given, $main_program will be used for
# this.
$program_title  = "Timex";

# The basename of the main program
$main_program   = "tktimex";

# Additional standard arguments for normal startup
@main_program_arguments = ('-enterprisedefaults', "O:/onlineoffice/controlling/tktimex.defaults");

# The description of the main program
$main_description = "Timex - Zeiterfassungssystem";

# The basename of a console program (without Tk)
$console_program = "ctimex";

# The basename of a program serving as client in a client-server-mode
undef $client_program;

# Default for using a client-server-mode. If undefined, then no
# client-server-mode will be possible
undef $use_client_server_mode;

# (Don't) put into autostart folder
$use_autostart = 1;

# The name of a HTML documentation file
$html_documentation = "tktimex.html";

# The main homepage of the program, presented as a URL
undef $homepage;

# Extensions to be compiled and installed
@module_ext = ();

undef $unix_icon;

$unix_mini_icon = "mini-clock.xpm";

# Path to the Windows icon (as a partial path)
$win_icon = "mini-clock.ico";

# Path to the Windows icon for the WWW version (as a partial path)
undef $win_www_icon;

# Windows extensions to be installed in the registry
@win_extensions = ();

print STDERR "Loaded for $main_program OK...!\n";
